#pragma once

{{#imports}}
#include <foghorn/em/api/rest/generated/model/{{import}}.h>
{{/imports}}

namespace foghorn {
namespace em {

class {{baseName}}ApiProxy {
  public:
    {{baseName}}ApiProxy() {}
    ~{{baseName}}ApiProxy() {}

    {{#operations}}
    {{#operation}}
    {{^returnType}}void{{/returnType}}{{{returnType}}} {{operationId}}({{#allParams}}{{#vendorExtensions.passByReference}}const {{/vendorExtensions.passByReference}}{{{dataType}}}{{#vendorExtensions.passByReference}}&{{/vendorExtensions.passByReference}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
    {{/operation}}
    {{/operations}}
};

}  // em
}  // foghorn
